modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/control-center: web"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/control-center: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19463 BASE_PATH=/ pnpm --filter @workspace/control-center run dev"
waitForPort = 19463

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DANBOORU_LOGIN = "eonmaster6767"
DANBOORU_API_KEY = "5NPE8RdFDVpZ9KGoqT5PbALK"
DANBOORU_API_KEY_2 = "GbvAeFmVbNzvfJvx64pzmp8s"
DANBOORU_LOGIN_2 = "hehehea8qqhq"
DASHBOARD_URL = "https://06af5028-ed93-46a2-b0cc-45a9428c7ad3-00-14q7icga04wcd.sisko.replit.dev"
RAILWAY_ENVIRONMENT_ID = "118ab811-e2fe-4290-adbe-e6877dd46138"
RAILWAY_PROJECT_ID = "f2bcfbe8-29aa-43a0-b22d-7d2061e18725"
RAILWAY_SERVICE_ID = "ba0c3fb3-0de2-4136-8c68-34a0196db19e"
