modules = ["nodejs-20", "web", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DANBOORU_LOGIN = "eonmaster6767"
DANBOORU_API_KEY = "5NPE8RdFDVpZ9KGoqT5PbALK"
DANBOORU_API_KEY_2 = "GbvAeFmVbNzvfJvx64pzmp8s"
DANBOORU_LOGIN_2 = "hehehea8qqhq"
DASHBOARD_URL = "https://06af5028-ed93-46a2-b0cc-45a9428c7ad3-00-14q7icga04wcd.sisko.replit.dev"
